
.container {
	position: absolute;
  background-color: #FFF;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}