body {
	height: 100vh;
	width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background-color: lightgrey;
}

.header {
  font-size: 45px;
  color: #fff;
  font-weight: 100;
  margin: 10px;
}

.container {
  position: absolute;
  background-color: #FFF;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-content {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#root, .app-container {
	height: 100%
}

.form-button:focus {outline:0;}

.form-button {
  background-color: #00ab10;
  color: #fff;
  border-width: 1px;
  border-color: #009050;
  border-style: solid;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  cursor: pointer;
}

.form-button:hover:enabled {
  background: linear-gradient(#00ab10,#00bb20);
  color: #fff;
  text-decoration: none;
}

.form-button:active {
  transform: translateY(1px);
}

.form-input {
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  border-radius: 5px;
  font-size: 18px;
  padding: 2px;
  margin: 5px;
}

.form-label {
  font-size: 45px;
  color: #fff;
  font-weight: 100;
  margin: 5px;
}

.page-content { 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}