
.search-tool-container { 
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-tool-button {
}

.search-tool-input {
	border: 1px, #ccc
}

.search-tool-label {
	font-weight: 50;
}